<!-- Footer -->
<footer class="page-footer fixed-bottom font-small">
    <!-- Footer Elements -->
    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
            <a
                class="mx-1 text-primary"
                href="https://noticeeverything.com/contact"
                mdbTooltip="Contact Us"
                rel="noopener"
                target="_blank"
            >
                <mdb-icon far icon="envelope"></mdb-icon>
            </a>
        </li>
        <li class="list-inline-item">
            <a
                class="mx-1 text-body"
                href="https://github.com/noticeeverything"
                mdbTooltip="Notice Everything on Github"
                rel="noopener"
                target="_blank"
            >
                <mdb-icon fab icon="github"></mdb-icon>
            </a>
        </li>
        <li class="list-inline-item">
            <a
                class="mx-1 orange-text"
                href="https://stackoverflow.com/users/3127799/mycompassspins"
                mdbTooltip="Notice Everything on StackOverflow"
                rel="noopener"
                target="_blank"
            >
                <mdb-icon fab icon="stack-overflow"></mdb-icon>
            </a>
        </li>
        <li class="list-inline-item">
            <a
                class="mx-1 mdb-color-text"
                href="https://www.linkedin.com/in/justin-mcmahon-8722335/"
                mdbTooltip="Notice Everything on LinkedIn"
                rel="noopener"
                target="_blank"
            >
                <mdb-icon fab icon="linkedin"></mdb-icon>
            </a>
        </li>
    </ul>
    <!-- Footer Elements -->
</footer>
<!-- Footer -->
